@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Oefeningenreeks 3 (MVC oefeningenreeks 1) - Eerste MVC applicatie</title>
</head>
<body>
    <h1>Oefeningenreeks 3 (MVC oefeningenreeks 1) - Eerste MVC applicatie</h1>
    @RenderBody()
</body>
</html>