@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>Welkom bij uw Band-app. Hier komt u alles te weten over de bands en hun leden.</p>