@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ol>
    @foreach (var band in ViewBag.Bands)
    {
        <li>@band.Naam (@band.Jaar)</li>
    }
</ol>

@Html.ActionLink("Lijst met leden", "LijstMetLeden")